.headerr{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #555;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container nav{
    display: flex;
    flex-direction: row;
    gap:20px
}

.itemNav{
    color: rgb(228, 228, 228);
    font-weight: 600;
    font-size: 22px;
}